<html xmlns:th="http://www.thymeleaf.org">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

<head>
    <script th:inline="javascript">
    function getShelfNumber(){
        fetch('/users/' + userId + '/lists/' + listId + '/products/' + productId + '/getQuantity')
            .then(response => response.json())
            .then(function (data) {
                var quantity = data;
                document.getElementById(productId).innerHTML = quantity;
            })
            .catch(function (error) {
                console.log(error);
            });
    };
    </script>
</head>
<body>
<div th:text="${shop.name}">
</div>
<div th:each="u:${shop.inventory}">
    <a style="color: inherit" th:href="@{'/users/'+${user.id}+'/lists/'+${shoppingList.id}+'/products'}">
        <button class="btn btn-light" th:text="${u.product.name}">
        </button>
    </a>
</div>




    <script>var canvas = document.body.appendChild(document.createElement("canvas"));

        console.log("device ratio  " + window.devicePixelRatio);
        console.log("avail hoeh ist  " + window.screen.availHeight);
        console.log("avail breite ist  " + window.screen.availWidth);

        var tmp;
        //var size = canvas.width = canvas.height = 1000;
        //device ratio?????
        if(window.screen.availHeight < window.screen.availWidth){
          tmp = 0.85 * window.screen.availHeight  * window.devicePixelRatio;
         // tmp = 0.85 * window.screen.availHeight;
        }
        else{
          tmp = 0.85 * window.screen.availWidth  * window.devicePixelRatio;
        //  tmp = 0.85 * window.screen.availWidth;
        }

        console.log("tmp  " + tmp);

        var size = canvas.width = canvas.height = tmp;
        //var scale = 20;
        var scale = tmp / 50;

        console.log("scale  " + scale);

        var ctx = canvas.getContext("2d");
        var coordinateSets = [
          //Big room        
          
          [{//start oben links
            //geht im uhrzeigersinn
              x: 0,
              y: 0
            },
            {
              
              x: 34,
              y: 0
            },
            {
              x: 34,
              y: 40
            },
            {
              x: 26,
              y: 40
            },
            {
              x: 26,
              y: 45
            },
            {
              x: 10,
              y: 45
            },
            {
              x: 10,
              y: 33
            },
            {
              x: 8,
              y: 33
            },
            {
              x: 8,
              y: 29
            },
            {
              x: 0,
              y: 29
            },
          ],
          //einausgang Linie groß
          //vertikal
          [{
              x: 18,
              y: 30
            },
            {
              x: 18,
              y: 45
            },  
          ],
          [{
              x: 18,
              y: 13
            },
            {
              x: 18,
              y: 18
            },  
          ],
          //Bäckerei
          [{
              x: 18,
              y: 18
            },
            {
              x: 15,
              y: 21
            },  
            {
              x: 15,
              y: 27
            },
            {
              x: 18,
              y: 30
            }, 
            {
              x: 24,
              y: 30
            },
            {
              x: 27,
              y: 27
            },
            {
              x: 27,
              y: 21
            },
            {
              x: 24,
              y: 18
            }, 
          ],
          //vertik
          [{
              x: 18,
              y: 13
            },
            {
              x: 5.5,
              y: 13
            },  
          ],
          
          
          //Little room 1
          [{
              x: 34,
              y: 0
            },
            {
              x: 49,
              y: 0
            },  
            {
              x: 49,
              y: 45
            },
            {
              x: 34,
              y: 45
            },
          ],
          //kasse1
          [{
              x: 5.5,
              y: 23
            },
            {
              x: 10,
              y: 23
            },  
            {
              x: 10,
              y: 25
            },
            {
              x: 8.5,
              y: 25
            },
            {
              x: 8.5,
              y: 24
            },
            {
              x: 8,
              y: 24
            },
            {
              x: 5.5,
              y: 24
            },
          ],

          //kasse2
          [{
              x: 5.5,
              y: 19
            },
            {
              x: 10,
              y: 19
            },  
            {
              x: 10,
              y: 21
            },
            {
              x: 8.5,
              y: 21
            },
            {
              x: 8.5,
              y: 20
            },
            {
              x: 8,
              y: 20
            },
            {
              x: 5.5,
              y: 20
            },
          ],

          //kasse3
          [{
              x: 5.5,
              y: 15
            },
            {
              x: 10,
              y: 15
            },  
            {
              x: 10,
              y: 17
            },
            {
              x: 8.5,
              y: 17
            },
            {
              x: 8.5,
              y: 16
            },
            {
              x: 8,
              y: 16
            },
            {
              x: 5.5,
              y: 16
            },
          ],
           //kasse0
          [{
              x: 5.5,
              y: 27
            },
            {
              x: 10,
              y: 27
            },  
            {
              x: 10,
              y: 33
            },
            {
              x: 8,
              y: 33
            },
            {
              x: 8,
              y: 29
            },
            {
              x: 5.5,
              y: 29
            },
          ],
        ];  
        coordinateSets.forEach(function(coordinates) {
          ctx.beginPath();
          ctx.moveTo(coordinates[0].x * scale, coordinates[0].y * scale);
          coordinates.forEach(function(coordinate) {
            ctx.lineTo(coordinate.x * scale, coordinate.y * scale);
          });

          
          ctx.closePath();
          ctx.stroke();
        
        var regalNr = 41;


        //keine feste Verwendung
        ctx.strokeRect(34 * scale, 0 * scale, 1 * scale, 12.5 * scale,);//1
        ctx.strokeRect(48 * scale, 0 * scale, 1 * scale, 15 * scale,);//2
        ctx.strokeRect(48 * scale, 15 * scale, 1 * scale, 15 * scale,);//3

        
        //Getränke Einzelflaschen
        ctx.strokeRect(48 * scale, 30 * scale, 1 * scale, 15 * scale,);//4
        ctx.strokeRect(34 * scale, 30.5 * scale, 1 * scale, 14.5 * scale,);//5
        ctx.strokeRect(35 * scale, 44 * scale, 13 * scale, 1 * scale,);//6

        //Getränkekästen
        ctx.strokeRect(37.5 * scale, 30.5 * scale, 8 * scale, 11 * scale,);//7

        //Snack Block
        ctx.strokeRect(36.5 * scale, 2 * scale, 5 * scale, 1 * scale,);//8
        ctx.strokeRect(41.5 * scale, 2 * scale, 5 * scale, 1 * scale,);//9
        ctx.strokeRect(36.5 * scale, 3 * scale, 5 * scale, 1 * scale,);//10
        ctx.strokeRect(41.5 * scale, 3 * scale, 5 * scale, 1 * scale,);//11

        //Haushaltsartikel Block
        ctx.strokeRect(36.5 * scale, 7 * scale, 5 * scale, 1 * scale,);//12
        ctx.strokeRect(41.5 * scale, 7 * scale, 5 * scale, 1 * scale,);//13
        ctx.strokeRect(36.5 * scale, 8 * scale, 5 * scale, 1 * scale,);//14
        ctx.strokeRect(41.5 * scale, 8 * scale, 5 * scale, 1 * scale,);//15

        //Spirituosen Block
        ctx.strokeRect(36.5 * scale, 12 * scale, 5 * scale, 1 * scale,);//16
        ctx.strokeRect(41.5 * scale, 12 * scale, 5 * scale, 1 * scale,);//17
        ctx.strokeRect(36.5 * scale, 13 * scale, 5 * scale, 1 * scale,);//18
        ctx.strokeRect(41.5 * scale, 13 * scale, 5 * scale, 1 * scale,);//19
        
        //Internationales
        ctx.strokeRect(38 * scale, 17 * scale, 1 * scale, 11 * scale,);//20
        ctx.strokeRect(39 * scale, 17 * scale, 1 * scale, 11 * scale,);//21

        //Backwaren
        ctx.strokeRect(43 * scale, 17 * scale, 1 * scale, 11 * scale,);//22
        ctx.strokeRect(44 * scale, 17 * scale, 1 * scale, 11 * scale,);//23
        
        
        //Obst Gemüse
        ctx.strokeRect(26.5 * scale, 32.5 * scale, 4.5 * scale, 4.5 * scale,); //24 fetter Block
        ctx.strokeRect(26 * scale, 39 * scale, 8 * scale, 1 * scale,);//25
        ctx.strokeRect(33 * scale, 30.5 * scale, 1 * scale,  8.5* scale,);//26

        //Kühlteke
        //Milch/käse
        ctx.strokeRect(0 * scale, 0 * scale, (34/3) * scale, 1 * scale);//27
        ctx.strokeRect(0 * scale, 1 * scale, 1 * scale, 12 * scale);//28
        //Wurst
        ctx.strokeRect( 1*(34/3) * scale, 0 * scale, (34/3) * scale, 1 * scale);//29
        //Ersatzprodukte
        ctx.strokeRect( 2*(34/3) * scale, 0 * scale, (34/3) * scale, 1 * scale);//30

        //Konserven
        ctx.strokeRect(4 * scale, 3 * scale, 1 * scale, 7 * scale);//31
        ctx.strokeRect(5 * scale, 3 * scale, 1 * scale, 7 * scale);//32
        ctx.strokeRect(9 * scale, 3 * scale, 1 * scale, 7 * scale);//33
        ctx.strokeRect(10 * scale, 3 * scale, 1 * scale, 7 * scale);//34
        ctx.strokeRect(14 * scale, 3 * scale, 1 * scale, 7 * scale);//35
        ctx.strokeRect(15 * scale, 3 * scale, 1 * scale, 7 * scale);//36
        ctx.strokeRect(19 * scale, 3 * scale, 1 * scale, 7 * scale);//37
        ctx.strokeRect(20 * scale, 3 * scale, 1 * scale, 7 * scale);//38


       //gefriertruhen
       ctx.strokeRect(24 * scale, 3 * scale, 10 * scale, 2 * scale);//39
       ctx.strokeRect(24 * scale, 7 * scale, 10 * scale, 2 * scale);//40

       //gewürze
       ctx.strokeRect(18 * scale, 17 * scale, 6 * scale, 1 * scale);//41
       ctx.strokeRect(18 * scale, 13 * scale, 1 * scale, 4 * scale);//42
        
       //Tabak
       ctx.strokeRect(8 * scale, 29 * scale, 0.25 * scale, 4 * scale);//43
       ctx.strokeRect(5.5 * scale, 28.75 * scale, 2.75 * scale, 0.25 * scale);//44

       //test
       ctx.fillStyle = 'red';
       //testende
        switch (regalNr){
            case 1 :
                //Regal 1 wird eingefärbt
                ctx.fillRect(34 * scale, 0 * scale, 1 * scale, 12.5 * scale,)
                break;
            case 2 :
                ctx.fillRect(48 * scale, 0 * scale, 1 * scale, 15 * scale,);//2
                break;
            case 3 :
                ctx.fillRect(48 * scale, 15 * scale, 1 * scale, 15 * scale,);//3
                break;
            case 4 :
                ctx.fillRect(48 * scale, 30 * scale, 1 * scale, 15 * scale,);//4
                break;
            case 5 :
                ctx.fillRect(34 * scale, 30.5 * scale, 1 * scale, 14.5 * scale,);//5
                break;
            case 6 :
                ctx.fillRect(35 * scale, 44 * scale, 13 * scale, 1 * scale,);//6
                break;
            case 7 :
                ctx.fillRect(37.5 * scale, 30.5 * scale, 8 * scale, 11 * scale,);//7
                break;
            case 8 :
                ctx.fillRect(36.5 * scale, 2 * scale, 5 * scale, 1 * scale,);//8
                break;
            case 9 :
                ctx.fillRect(41.5 * scale, 2 * scale, 5 * scale, 1 * scale,);//9
                break;
            case 10 :
                ctx.fillRect(36.5 * scale, 3 * scale, 5 * scale, 1 * scale,);//10
                break;
            case 11 :
                ctx.fillRect(41.5 * scale, 3 * scale, 5 * scale, 1 * scale,);//11
                break;
            case 12 :
                ctx.fillRect(36.5 * scale, 7 * scale, 5 * scale, 1 * scale,);//12
                break;
            case 13 :
                ctx.fillRect(41.5 * scale, 7 * scale, 5 * scale, 1 * scale,);//13
                break;
            case 14 :
                ctx.fillRect(36.5 * scale, 8 * scale, 5 * scale, 1 * scale,);//14
                break;
            case 15 :
                ctx.fillRect(41.5 * scale, 8 * scale, 5 * scale, 1 * scale,);//15
                break;
            case 16 :
            ctx.fillRect(36.5 * scale, 12 * scale, 5 * scale, 1 * scale,);//16
                break;
            case 17 :
            ctx.fillRect(41.5 * scale, 12 * scale, 5 * scale, 1 * scale,);//17
                break;
            case 18 :
            ctx.fillRect(36.5 * scale, 13 * scale, 5 * scale, 1 * scale,);//18
                break;
            case 19 :
            ctx.fillRect(41.5 * scale, 13 * scale, 5 * scale, 1 * scale,);//19
                break;
            case 20 :
            ctx.fillRect(38 * scale, 17 * scale, 1 * scale, 11 * scale,);//20
                break;
            case 21 :
            ctx.fillRect(39 * scale, 17 * scale, 1 * scale, 11 * scale,);//21
                break;
            case 22 :
            ctx.fillRect(43 * scale, 17 * scale, 1 * scale, 11 * scale,);//22
                break;
            case 23 :
            ctx.fillRect(44 * scale, 17 * scale, 1 * scale, 11 * scale,);//23
                break;
            case 24 :
            ctx.fillRect(26.5 * scale, 32.5 * scale, 4.5 * scale, 4.5 * scale,); //24 fetter Block
                break;
            case 25 :
            ctx.fillRect(26 * scale, 39 * scale, 8 * scale, 1 * scale,);//25
                break;
            case 26 :
                ctx.fillRect(33 * scale, 30.5 * scale, 1 * scale,  8.5* scale,);//26   
                break;
            case 27 :
            ctx.fillRect(0 * scale, 0 * scale, (34/3) * scale, 1 * scale);//27
                break;
            case 28 :
            ctx.fillRect(0 * scale, 1 * scale, 1 * scale, 12 * scale);//28
                break;
            case 29 :
            ctx.fillRect( 1*(34/3) * scale, 0 * scale, (34/3) * scale, 1 * scale);//29
                break;
            case 30 :
            ctx.fillRect( 2*(34/3) * scale, 0 * scale, (34/3) * scale, 1 * scale);//30
                break;
            case 31 :
            ctx.fillRect(4 * scale, 3 * scale, 1 * scale, 7 * scale);//31
                break;
            case 32 :
            ctx.fillRect(5 * scale, 3 * scale, 1 * scale, 7 * scale);//32
                break;
            case 33 :
            ctx.fillRect(9 * scale, 3 * scale, 1 * scale, 7 * scale);//33
                break;
            case 34 :
            ctx.fillRect(10 * scale, 3 * scale, 1 * scale, 7 * scale);//34
                break;
            case 35 :
            ctx.fillRect(14 * scale, 3 * scale, 1 * scale, 7 * scale);//35
                break;
            case 36 :
            ctx.fillRect(15 * scale, 3 * scale, 1 * scale, 7 * scale);//36
                break;
            case 37 :
            ctx.fillRect(19 * scale, 3 * scale, 1 * scale, 7 * scale);//37
                break;
            case 38 :
            ctx.fillRect(20 * scale, 3 * scale, 1 * scale, 7 * scale);//38
                break;
            case 39 :
            ctx.fillRect(24 * scale, 3 * scale, 10 * scale, 2 * scale);//39
                break;
            case 40 :
            ctx.fillRect(24 * scale, 7 * scale, 10 * scale, 2 * scale);//40
                break;
            case 41 :
            ctx.fillRect(18 * scale, 17 * scale, 6 * scale, 1 * scale);//41
                break;
            case 42 :
            ctx.fillRect(18 * scale, 13 * scale, 1 * scale, 4 * scale);//42
                break;
            case 43 :
              ctx.fillRect(8 * scale, 29 * scale, 0.25 * scale, 4 * scale);//43
              ctx.fillRect(5.5 * scale, 28.75 * scale, 2.75 * scale, 0.25 * scale);//43
              break;
            case 44 :
              ctx.fillRect(8 * scale, 29 * scale, 0.25 * scale, 4 * scale);//43
              ctx.fillRect(5.5 * scale, 28.75 * scale, 2.75 * scale, 0.25 * scale);//43
              break;
        }
        
        });

        // test
        ctx.clearRect(13 * scale, 44.5 * scale, 2*scale, 1*scale);
        ctx.clearRect(21 * scale, 44.5 * scale, 2*scale, 1*scale);
        ctx.clearRect(33.5 * scale, 13 * scale, 1*scale, 17*scale);
       // testende
       ctx.fillStyle = 'black';
       //schrifttest
       ctx.font = "18px Arial";
       ctx.textAlign = "center";
       ctx.fillText("Ausgang",14 * scale , 44 * scale);
       ctx.fillText("Eingang",22 * scale , 44 * scale);

      
       ctx.fillText("Kasse 4",7.75 * scale , 15.75 * scale);
       ctx.fillText("Kasse 3",7.75 * scale , 19.75 * scale);
       ctx.fillText("Kasse 2",7.75 * scale , 23.75 * scale);
       ctx.fillText("Kasse 1",7.75 * scale , 28.25 * scale);

       ctx.fillText("Getränke",41.5 * scale , 43 * scale);
       ctx.fillText("Bäckerei",21 * scale , 24 * scale);

       ctx.fillText("Obst/Gemüse", 29 * scale , 38.25 * scale);

       ctx.fillText("Snacks", 41.5 * scale , 1.5 * scale);

       ctx.fillText("Haushalts-/Kosmetikartikel", 41.5 * scale , 6.5 * scale);

       

       ctx.fillText("Spirituosen", 41.5 * scale , 11.5 * scale);

       ctx.fillText("International", 39 * scale , 16.5 * scale);

       ctx.fillText("Backwaren", 44 * scale , 29.5 * scale);



       ctx.fillText("Tiefkühlabteilung", 29 * scale , 6.25 * scale);


       //kühlt
       ctx.fillText("Käse/Milchprodukte", (34/6) * scale , 2.25 * scale);
       ctx.fillText("Wurst/Fleisch", (34/6) * scale + (34/3) * scale , 2.25 * scale);
       ctx.fillText("Ersatzprodukte", (34/6) * scale + 2*(34/3) * scale , 2.25 * scale);

       //gewürze
       ctx.fillText("Gewürze", 21.5 * scale, 15.5 * scale);

       ctx.fillText("Konserven",12.5 * scale , 11.5 * scale);
       
       //document. location. reload();     
        </script>
</body>
</html>