<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="container">
            <form class="form">
            <div class="btn">
                <button class="signupbtn">SIGN UP</button>
                <button class="login">LOGIN</button>
            </div>
            <form action="" class="signUp">
                <div class="formGroup">
                    <input type="text" name="uname" id="username" placeholder="Username" autocomplete="off">
                </div>
                <div class="formGroup">
                    <input type="email" name="email" id="Email" placeholder="Email ID" autocomplete="off">
                </div>
                <div class="formGroup">
                    <input type="password" name="password" id="psw" placeholder="Password" autocomplete="off">
                </div>
                <div class="formGroup">
                    <input type="password" name="confirmpassword" id="cpsw" placeholder="Confirm Password" autocomplete="off">
                </div>

                <div class="checkBox">
                    <input type="checkbox" name="checkbox" id="cbox">
                    <span class="text">I agree with term & conditions.</span>
                </div>

                <div class="formGroup">
                    <button class="btn2">REGISTER</button>
                </div>
            </form>
            </form>
        </div>
    </body>
</html>