<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script th:inline="javaScript">
        /*<![CDATA[*/
        var userId = [[${user.id}]];
        var listId = [[${shoppinglist.id}]]
        /*]]>*/
        $(window).scroll(function() {
            sessionStorage.scrollTop = $(this).scrollTop();
        });

        $(document).ready(function() {
            if (sessionStorage.scrollTop != "undefined") {
                $(window).scrollTop(sessionStorage.scrollTop);
            }
        });
        function changeSpecification(productId, specificationId) {
            var quantity;
            fetch('/users/' + userId + '/lists/' + listId + '/products/' + productId + '/addSpeciFromProduct/' + specificationId)
                .then(response => response.json())
                .then(function (data) {
                    quantity = data.quantity;
                    window.location.reload();
                    var btn = document.getElementById('specification' + specificationId + '/' + productId);
                    document.getElementById(productId).innerHTML = quantity;
                    btn.style.backgroundColor = "khaki";
                })
                .catch(function (error) {
                    console.log(error);
                });
        }

        function changeAmount(productId, amountId) {
            var quantity;
            $.ajax({
                type: "GET",
                url: '/users/' + userId + '/lists/' + listId + '/products/' + productId + '/addAmountFromProduct/' + amountId,
                dataType: 'json',
                success: function (res) {
                    quantity = res.quantity;
                    var btn = document.getElementById('amount' + amountId + '/' + productId);
                    window.location.reload();
                    document.getElementById(productId).innerHTML = quantity;
                    btn.style.backgroundColor = "khaki";
                }
            });
            $(document).ajaxStop(function () {

            });
        }
        function removeCostum(productId) {
            $.ajax({
                type: "GET",
                url: '/users/' + userId + '/lists/' + listId + '/products/' + productId + '/removeCostum',
                dataType: 'json',
                success: function (res) {
                }
            });
            $(document).ajaxStop(function () {
                window.location.reload();
            });
        }

        function addP(productId) {
            $.ajax({
                type: "GET",
                url: "addProduct/" + productId,
                dataType: 'json',
                success: function (res) {
                    var quantity = res;
                    document.getElementById(productId).innerHTML = quantity;
                }
            });
        }
        function deleteP(productId) {
            $.ajax({
                type: "GET",
                url: "deleteProduct/" + productId,
                dataType: 'json',
                success: function (res) {
                    console.log(res);
                    var quantity = res;
                    if (quantity == 0) {
                        window.location.reload();
                    }
                    document.getElementById(productId).innerHTML = quantity;
                }
            });
        }

        function addCostum(costum) {
            console.log(costum);
            $.ajax({
                type: "GET",
                url: "/users/" + userId + "/lists/" + listId + "/products/" + productId + "/addCostum/" + costum,
                dataType: 'json',
                success: function (res) {
                    console.log(res);
                }
            });
        }

        function getItem(productId, speciId, type) {
            var item;
            fetch('/users/' + userId + '/lists/' + listId + '/products/' + productId + '/getItem')
                .then(response => response.json())
                .then(function (data) {
                    item = data;
                    if (item != null) {
                        if (item.product.id == productId) {
                            if (type == 1 && item.specification != null) {
                                if (item.specification.id == speciId) {
                                    var btn = document.getElementById('specification' + speciId + '/' + productId);
                                    btn.style.backgroundColor = "khaki";
                                }
                            }
                            if (type == 2 && item.amount != null) {
                                if (item.amount.id == speciId) {
                                    var btn = document.getElementById('amount' + speciId + '/' + productId);
                                    btn.style.backgroundColor = "khaki";
                                }
                            }
                            if (type == 3 && item.costum != null) {
                                var btn = document.getElementById('costum' + productId);
                                btn.style.backgroundColor = "khaki";
                                btn.innerText = item.costum;
                            }
                        }
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
        }
    </script>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="container">
    <div class="row">
        <div class="col-xs">
            <a style="color: inherit" th:href="@{'/users/'+${user.id}+'/lists/'+${shoppinglist.id}+'/products'}">
                <button class="btn btn-light">
                    Alles
                </button>
            </a>
        </div>
        <div class="col-xs">
            <a style="color: inherit"
               th:href="@{'/users/'+${user.id}+'/lists/'+${shoppinglist.id}+'/categories/1/products'}">
                <button class="btn btn-light">
                    Vegane/Vegetarische Ersatzprodukte
                </button>
            </a>
        </div>
        <div class="col-xs">
            <a style="color: inherit"
               th:href="@{'/users/'+${user.id}+'/lists/'+${shoppinglist.id}+'/categories/2/products'}">
                <button class="btn btn-light"
                        th:href="@{'/users/'+${user.id}+'/lists/'+${shoppinglist.id}+'/categories/2/products'}">
                    Fleisch
                </button>
            </a>
        </div>
        <div class="col-xs">
            <a style="color: inherit"
               th:href="@{'/users/'+${user.id}+'/lists/'+${shoppinglist.id}+'/categories/3/products'}">
                <button class="btn btn-light">Alkohol
                </button>
            </a>
        </div>
        <div class="col-xs">
            <a style="color: inherit"
               th:href="@{'/users/'+${user.id}+'/lists/'+${shoppinglist.id}+'/categories/4/products'}">
                <button class="btn btn-light">
                    Milch Produkte
                </button>
            </a>
        </div>
        <div class="col-xs">
            <a style="color: inherit"
               th:href="@{'/users/'+${user.id}+'/lists/'+${shoppinglist.id}+'/categories/5/products'}">
                <button class="btn btn-light">
                    Gemüse
                </button>
            </a>
        </div>
        <div class="col-xs">
            <a style="color: inherit"
               th:href="@{'/users/'+${user.id}+'/lists/'+${shoppinglist.id}+'/categories/6/products'}">
                <button class="btn btn-light">
                    Obst
                </button>
            </a>
        </div> &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-xs">
            <a style="color: inherit"
               th:href="@{'/users/'+${user.id}+'/lists/'+${shoppinglist.id}+'/categories/7/products'}">
                <button class="btn btn-light">
                    Getränke
                </button>
            </a>
        </div> &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-xs">
            <a style="color: inherit"
               th:href="@{'/users/'+${user.id}+'/lists/'+${shoppinglist.id}+'/categories/8/products'}">
                <button class="btn btn-light">
                    Speiseschrank
                </button>
            </a>
            <a style="color: inherit"
               th:href="@{'/users/'+${user.id}+'/lists/'+${shoppinglist.id}+'/categories/9/products'}">
                <button class="btn btn-light">
                    Drogerie Artikel
                </button>
            </a>
            <a style="color: inherit"
               th:href="@{'/users/'+${user.id}+'/lists/'+${shoppinglist.id}+'/categories/10/products'}">
                <button class="btn btn-light">
                    Saisonal
                </button>
            </a>
        </div> &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-xs">
            <div class="input-group rounded">
                <form th:action="@{'/users/'+${user.id}+'/lists/'+${shoppinglist.id}+'/search'}" method="get">
                    <input type="text" id="search" name="search" class="form-control rounded" placeholder="Search"
                           th:value="${search}" autocomplete="off"/>
                    <button type="submit" class="btn btn-dark"></button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">Alles</div>
<div class="container" th:each="u: ${product}" th:id="'product'+${u.id}">
    <p>
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title" th:text="${u.name}">Card title</h5>
            <p class="card-text">
            <div style="float:right" class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-light" th:onclick="addP([[${u.id}]])">+</button>
                    <button type="button" class="btn btn-light" th:id="${u.id}"></button>
                    <script th:inline="javascript">
                        (function () {
                            /*<![CDATA[*/
                            var productId = [[${u.id}]];
                            /*]]>*/
                            fetch('/users/' + userId + '/lists/' + listId + '/products/' + productId + '/getQuantity')
                                .then(response => response.json())
                                .then(function (data) {
                                    var quantity = data;
                                    document.getElementById(productId).innerHTML = quantity;
                                })
                        })();
                    </script>
                    <button type="button" class="btn btn-light" th:onclick="deleteP([[${u.id}]])">-</button>
                </div>
            </div>
            </p>
            <p class="card-text">
            <div style="float:left" th:each="v:${u.specifications}">
                <button type="button" class="btn btn-light" th:id="'specification'+${v.id}+'/'+${u.id}"
                        th:onclick="changeSpecification([[${u.id}]],[[${v.id}]])"
                        th:text="${v.name}"></button>
                <script th:inline="javascript">
                    (function () {
                        /*<![CDATA[*/
                        var productId = [[${u.id}]];
                        var productSpecificationId = [[${v.id}]];
                        /*]]>*/
                        getItem(productId, productSpecificationId, 1);
                    }());
                </script>
            </div>
            <div style="float:left" th:each="v:${u.amounts}">
                <button type="button" class="btn btn-light" th:id="'amount'+${v.id}+'/'+${u.id}"
                        th:onclick="changeAmount([[${u.id}]],[[${v.id}]])"
                        th:text="${v.name}"></button>
                <script th:inline="javascript">
                    (function () {
                        /*<![CDATA[*/
                        var productId = [[${u.id}]];
                        var productAmountId = [[${v.id}]];
                        /*]]>*/
                        getItem(productId, productAmountId, 2);
                    }());
                </script>
            </div>
            <button type="button" class="btn btn-light" th:id="'costum'+${u.id}"
                    th:onclick="removeCostum([[${u.id}]])"></button>
            <script th:inline="javascript">
                (function () {
                    /*<![CDATA[*/
                    var productId = [[${u.id}]];
                    /*]]>*/
                    getItem(productId, 0, 3);
                }());
            </script>
            <div class="input-group rounded">
                <form th:action="@{'/users/'+${user.id}+'/lists/'+${shoppinglist.id}+'/products/'+${u.id}+'/costum'}"
                      method="get">
                    <input type="text" id="costum1" name="costum" class="form-control rounded"
                           placeholder="Costum Specification"
                           th:value="${costum}" autocomplete="off"/>
                    <button type="submit" class="btn btn-light"></button>
                </form>
               <!-- <form th:onsubmit="addCostum([[${costum}]])">
                    <input type="text" id="costum" name="costum" class="form-control rounded"
                           placeholder="Costum Specification"
                           th:value="${costum}" autocomplete="off"/>
                </form>-->
            </div>
        </div>
    </div>
</div>
<a style="color: inherit" th:href="@{'/users/'+${user.id}+'/lists/'+${shoppinglist.id}}">
    <button class="btn btn-light btn-lg btn-block" align="center"> Back to ShoppingList
    </button>
</a>
</body>
</html>